@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
   
   :root {
        --main-color: lightblue;
        --main-contrast-color: #274562;
        --accent-contrast-color: rgb(3, 31, 41);
    }


/* Browser/Display fixes */
html,
body {
    margin: 0;
} 



.navigation {
	overflow: hidden;
    background-color: var(--accent-contrast-color);
  }
  
  .navigation a {
	float: left;
	font-size: 26px;
	color: goldenrod;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  .dropdown {
	float: left;
	overflow: hidden;
  }
  
  .dropdown .dropbtn {
	font-size: 26px;  
	border: none;
	outline: none;
	color:goldenrod;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }
  
  .navigation a:hover, .dropdown:hover .dropbtn {
	background-color: rgb(61, 128, 167);
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color:  var(--accent-contrast-color);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	float: none;
	color: var(--main-contrast-color);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {
	background-color: var(--accent-contrast-color)
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }

.logo img {
    border-color: rgb(61, 128, 167);
    border-width: 8px;
    border-style: ridge;
    height: 30vh;
    max-width: auto;
    
}
/* https://css-tricks.com/almanac/properties/b/box-sizing/*/
*, *::before, *::after {
  box-sizing: border-box;
}

/* These selectors target the HTML elements and will apply to every iteration of those elements */
body {
    background-color: var(--main-contrast-color);
    color: red; /* Defines color using named value */
    color: #FF0000; /*Define color using hex code */
    color: rgb(255, 0, 0); /* Defines color using RGB value */
    color: rgba(255, 0, 0, 0.5); /*Defines color using RBG pus Alpha (opacity) value */
    color: var(--main-color);

    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
  }

h1, h2, h3, h4, h5, h6 {
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 48x;
}

p{
    font-family: "Playpen Sans";
    font-optical-sizing: auto;
    font-weight: 10s0;
    font-style: normal;
    /* max-width: 600px; */
}

a{
    background-color: var(--accent-contrast-color);
    color: var(--main-contrast-color);
}

a:hover {
    background-color: var(--accent-color);
    color: var(--accent-color);
}

img {
    max-width: 100%;
}

/* These target the value of the class="" property of our HTML elements, referred to as class names. */
/* You target class names in our CSS by putting a period . before the name of the class. */

.center {
    color: goldenrod;
    margin: 0 auto;
    max-width: 1440;
    width: 80%;
}

.intro {
    align-content: center;
    background-blend-mode: multiply;
    background-color:  var(--main-color);
    background-position: center;
    background-size: cover;
    color: goldenrod;
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    justify-content: center;
    min-height: 300px;
    text-align: center;
}

.intro >  {
    width: 100%;
}

/* Styles for the About section */
.about .center{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about h2 {
    flex-basis: 100%;
}

.fact{
    flex-grow: 0;
    flex-basis: 31.5%;
}


/* "+" Targets an elements with a class of, "fact" only if it immediately follows (is a direct sibling of) another element that also has a class of, "fact." */
.fact + .fact {
    margin-top: 30px;
}
.fact + .fact + .fact {
    margin-top: 60px;
}

.works img {
    columns: 3;
    height: 2vh;
    max-width: 100%;
    
    
}

.location {
    box-sizing: border-box;
    border: var(--main-color);
    border-style: solid;
}